*{
      margin:0;
      padding:0;
      box-sizining:border-box;
}
h1{
     color:blue;
     font-size:40px;
     text-aling:center;
}
body{
      background-color:green;
}
 ul li{
        display:inline;
        font-size:20px;
        color:#fff;
}
ul {
     text-align:center;
     color:blue;
     font-size:50px; 
}
       